body {
  background-color: black;
  color: #ffffffb0;
  text-align: center;
}
.App {
  margin-top: 600px;
  height: 100vw;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* 2 or 3 images per row */
  grid-gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.img-container {
  width: 100%; /* Adjusts to fill the grid cell */
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
